<div class="row">
    <div class="grid-4of4 grid-8of8 grid-12of12">
    	<div id="logo-wrap"><a href="/" id="logo" title="N-Commerce Home"></a></div>
    </div>
</div>

<div class="row">

	<nav id="global-nav" class="grid-4of4 grid-8of8 grid-12of12">
    	<a href="#" id="nav-cats" title="Browse Product Categories"><span class="icon"></span><span class="txt">CATEGORIES</span></a>
		
		<a href="#" id="nav-search" title="Browse Product Categories"><span class="icon"></span><span class="txt">SEARCH</span></a>

		<a href="#" id="nav-cart" title="Browse Product Categories"><span class="icon"></span><span class="txt">CART</span></a>

		<a href="#" id="nav-sigin" title="Browse Product Categories"><span class="icon"></span><span class="txt">SIGN IN</span></a>

		<a href="#" id="nav-share" title="Browse Product Categories"><span class="icon"></span><span class="txt">SHARE</span></a>

	</nav>

</div>
