<div class="row">
    <div class="grid-4of4 grid-8of8 grid-12of12">
    	<div id="logo-wrap"><a href="/" id="logo" title="N-Commerce Home"></a></div>
    </div>
</div>

<div class="row">

	<nav id="global-nav" class="grid-4of4 grid-8of8 grid-12of12">
    	<a href="" title="Browse Product Categories"><span id="nav-menu" class="icon"></span><span class="txt">Home</span></a>

    	<a href="" title="Browse Product Categories"><span id="nav-menu" class="icon"></span><span class="txt">Home</span></a>

    	<a href="" title="Browse Product Categories"><span id="nav-menu" class="icon"></span><span class="txt">Home</span></a>
    	
	</nav>

</div>
