<html>
<head>
<title>{{title}}</title>
<link type="text/css" rel="stylesheet" href="/css/global.css"/>
<link type="text/css" rel="stylesheet" href="/bower_components/fancybox/source/jquery.fancybox.css"/>
{{{block "pageStyles"}}}
<script src="bower_components/requirejs/require.js"></script>
<script src="js/polyfils/modernizr.js"></script>
 <!-- A block is placeholder for pieces of content defined in a page. Top of the page since we're using require -->
{{{block 'pageScripts'}}}
</head>

<body>
    <div id="wrap">
        <div id="main-wrap" role="main">
        <!-- Placeholder for page content. -->
        {{{body}}}

<!--
        {{> site-nav}}
        
        {{> profile}}

        {{> auth/login}}
-->
        </div>
    </div>
</body>
</html>