
<!-- cart page -->
Cart page (template)
<h1>Cart</h1>
<h2>Total: {{total}}</h2>
<h2>you have {{productsLength}} items</h2>

<ul id="cart-list">
    {{#each productList}}
    <li>
        <a href="/product/{{product.id}}">{{product.name}}&nbsp;{{product.price}}</a><br/>
        <p>SKU: {{product.sku}}</p>
        <p>Description: {{product.desc}}</p>
        <p>Quantity: {{quantity}} pc(s)</p>
    </li>
    {{/each}}
</ul>

{{#contentFor 'pageStyles'}}
<link type="text/css" rel="stylesheet" href="/css/pip.css"/>
{{/contentFor}}


<script>
    //Load common code that includes config, then load the app
    //logic for this page. Do the require calls here instead of
    //a separate file so after a build there are only 2 HTTP
    //requests instead of three.
    require(['js/common'], function (common) {
        //js/common sets the baseUrl to be js/ so
        //can just ask for 'app/main1' here instead
        //of 'js/app/main1'
        require(['views/pageview']);
    });
</script>

