
<!-- cart page -->
Cart page (template)
<h1>Cart</h1>
<h2>Total: {{total}}</h2>
<h2>you have {{productsLength}} items</h2>

<ul id="cart-list">
    {{#each productList}}
    <li>
        <a href="/product/{{product.id}}">{{product.name}}&nbsp;{{product.price}}</a><br/>
        <p>SKU: {{product.sku}}</p>
        <p>Description: {{product.desc}}</p>
        <p>Quantity: {{quantity}} pc(s)</p>
    </li>
    {{/each}}
</ul>

{{#contentFor 'pageStyles'}}
<link type="text/css" rel="stylesheet" href="/css/pip.css"/>
{{/contentFor}}


{{#contentFor 'pageScripts'}}

{{/contentFor}}

