

<div class="row">
    <div class="grid-4of4 grid-8of8 grid-12of12">
			
		<div id="product-list">
			{{#each productList}}
				<article id="product-{{id}}" class="grid-2of4 grid-2of8 grid-3of12">
					<a href="/product/{{id}}" title="{{name}} click for details ">
					<!--<img src="/images/products/{{productImage}}.jpg" alt="{{productImage}}" title="{{productImage}}" />-->
					<img src="/images/products/chia.jpg" alt="{{name}}" />
					<h1>{{name}}</h1></a>
					<span class="price">${{price}}</span>
					<span class="sku">SKU: {{productSku}}</span>	
				</article>
			{{/each}}
		</div>
       

    </div>
</div>

{{#contentFor 'pageStyles'}}
    <link type="text/css" rel="stylesheet" href="/css/partials/home.css"/>
{{/contentFor}}


{{#contentFor 'pageScripts'}}

<script>
    //Load common code that includes config, then load the app
    //logic for this page. Do the require calls here instead of
    //a separate file so after a build there are only 2 HTTP
    //requests instead of three.
    require(['js/common'], function (common) {
        //js/common sets the baseUrl to be js/ so
        //can just ask for 'app/main1' here instead
        //of 'js/app/main1'
        require(['views/pageview']);
    });
</script>

{{/contentFor}}

