<div id="login-register" style="display:none;">
	<div id="login" class="marg-t-1unit">
		<h1>Login</h1>
		
		<form action="/login" method="post">
		
			<div>
				<label>email:</label>
				<input type="text" name="email" value="">
			</div>
			
			<div>
				<label>password:</label>
				<input type="password" name="password" value="">
			</div>
		
			<input type="submit" value="submit">
		
		</form>
	</div>

	<div id="register" class="marg-t-1unit">
		<h1>Register</h1>
		
		<form action="/register" method="post">
		
			<div>
				<label>First Name:</label>
				<input type="text" name="firstName" value="">
			</div>
			
			<div>
				<label>Last Name:</label>
				<input type="text" name="lastName" value="">
			</div>

			<div>
				<label>Email:</label>
				<input type="text" name="email" value="">
			</div>

			<div>
				<label>password:</label>
				<input type="password" name="password" value="">
			</div>
		
			<input type="submit" value="submit">
		
		</form>
	</div>
</div>
